.sudents-col-name{
  max-width: 90px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.student-management-content{
  //.students-tab{
  //  background: #fff;
  //  height: calc(~"100vh - 250px"); // less中calc特定写法
  //  overflow-y: auto;
  //}
  .student-pagination{
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.students-tab{
  th.tab-1,
  td.tab-1 {
    text-align: left;
    width: 6%;
  }
  th.tab-2,
  td.tab-2 {
    text-align: left;
    width: 6%;
  }
  th.tab-3,
  td.tab-3 {
    text-align: left;
    width: 8%;
  }
  th.tab-4,
  td.tab-4 {
    text-align: left;
    width: 8%;
  }
  th.tab-5,
  td.tab-5{
    text-align: left;
    width: 7%;
  }
  th.tab-6,
  td.tab-6 {
    text-align: left;
    width: 6%;
  }
  th.tab-7,
  td.tab-7 {
    text-align: left;
    width: 12%;
  }
  th.tab-8,
  td.tab-8 {
    text-align: left;
  }
}