/* 学校进出设置 start */

.school-date-row {
  font-size: 14px;
  .school-date-item {
    width: 160px;
    text-align: center;
  }
}

.inout-modal {
  .ant-modal {
    width: 300px !important;
    .description-wrap {
      font-size: 14px;
      position: relative;
      top: 25px;
    }
    .ant-modal-footer {
      padding: 16px;
      border: 0;
    }
  }
}

/* 学校进出设置 end */

/* 学校进出历史记录 start */

.attendance-state-modal {
  .ant-modal {
    width: 300px !important;
    .attendance-state-content {
      .attendance-state-line {
        display: flex;
        justify-content: space-between;
        .attendance-state {
          width: 90px;
        }
      }
      .attendance-state-line:nth-child(1) {
        margin-bottom: 20px;
      }
    }
  }
}

.inout-history-wrap {
  .inout-history-close-btn {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
  .inout-history-header {
    margin-bottom: 20px;
    .inout-history-capture-count {
      margin-bottom: 20px;
    }
  }
  .inout-history-content {
    .inout-history-student-list {
      position: relative;
      padding: 20px 0;
      .student-face-item {
        width: 10%;
        padding: 0 10px 10px 0;
        display: inline-block;
        .student-face-wrap {
          width: 100%;
          padding-bottom: 100%;
          position: relative;
          cursor: pointer;
          .student-face-img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
          .face-icon {
            font-size: 20px;
            position: absolute;
            color: #fff;
            display: none;
            cursor: pointer;
          }
          .set-state-icon {
            right: 0;
            bottom: 0;
          }
          .face-search-icon {
            left: 0;
            bottom: 0;
          }
        }
        .student-face-wrap:hover .face-icon {
          display: block;
        }
        .student-face-btns {
          height: 20px;
          line-height: 18px;
          margin-top: 10px;
          border: 1px solid #e1e1e1;
          font-size: 12px;
          overflow: hidden;
          border-radius: 4px;
          .student-face-name {
            float: left;
            width: 50%;
            text-align: center;
            color: #fff;
            background: #77b6ed;
            cursor: pointer;
          }
          .student-face-num {
            float: left;
            width: 50%;
            text-align: center;
            color: #80868e;
            cursor: pointer;
          }
        }
      }
      .student-list-pagination {
        text-align: center;
      }
      .student-list-noData {
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }
    .history-student-list-pager {
      height: 0px;
    }
  }
}

/* 学校进出历史记录 end */