/* 会议列表 start */

.meeting-list-page {
  .meeting-manage-header {
    margin-bottom: 10px;
    .header-filter {
      min-width: 120px;
      max-width: 200px;
      width: 20%;
      margin-right: 10px;
    }
  }
  .meeting-manage-content {
    .meeting-list {
      background: #fff;
      height: calc(~"100vh - 250px"); // less中calc特定写法
      .ant-list {
        height: 100%;
        .ant-list-header {
          padding: 0;
          .meeting-list-header {
            background: #f5f5f5;
            padding: 12px 24px; // text-align: center;
          }
        }
        > div:not(.ant-list-header) {
          height: calc(~"100% - 43px");
          overflow-y: auto;
        }
      }
    }
    .meeting-item {
      width: 100%; // text-align: center;
      // cursor: pointer;
      padding: 15px 0;
    }
    .meeeting-list-pagination {
      position: absolute;
      margin-top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.meeting-modal {
  .ant-modal {
    width: 300px !important;
    .description-wrap {
      font-size: 14px;
      position: relative;
      top: 25px;
    }
    .ant-modal-footer {
      padding: 16px;
      border: 0;
    }
  }
}

/* 会议列表 end */

/* 创建会议 start */

.meeting-create-page {
  .meeting-create-close-btn{
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
  .form-title {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .select-teacher-transfer {
    display: inline-block;
    padding: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .meeting-submit-btns {
    text-align: center;
    padding: 20px 0;
  }
}

/* 创建会议 end */

/* 会议详情 start */

.meeting-detail-page {
  .meeting-detail-close-btn {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }
  .detail-content {
    background: #fff;
    max-width: 1000px;
    margin: 30px auto;
    font-size: 14px;
    .detail-info-wrap {
      .detail-info-item {
        padding: 10px 0;
        margin-bottom: 20px;
      }
    }
    .face-list-wrap {
      .meeting-face-list {
        position: relative;
        padding: 20px 0;
        .meeting-face-item {
          width: 10%;
          padding: 0 10px 10px 0;
          display: inline-block;
          .meeting-face-wrap {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            cursor: pointer;
            .meeting-face-img {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 4px;
            }
            .face-icon {
              font-size: 20px;
              position: absolute;
              color: #fff;
              display: none;
              cursor: pointer;
            }
            .set-state-icon {
              right: 0;
              bottom: 0;
            }
            .face-search-icon {
              left: 0;
              bottom: 0;
            }
          }
          .meeting-face-wrap:hover .face-icon {
            display: block;
          }
          .meeting-face-btns {
            height: 20px;
            line-height: 18px;
            margin-top: 10px;
            border: 1px solid #e1e1e1;
            font-size: 12px;
            overflow: hidden;
            border-radius: 4px;
            .meeting-face-name {
              float: left;
              width: 50%;
              text-align: center;
              color: #fff;
              background: #77b6ed;
              cursor: pointer;
            }
            .meeting-face-num {
              float: left;
              width: 50%;
              text-align: center;
              color: #80868e;
              cursor: pointer;
            }
          }
        }
        .meeting-face-list-pagination {
          text-align: center;
        }
        .meeting-face-list-noData {
          position: absolute;
          left: 50%;
          top: 50%;
        }
      }
      .meeting-face-list-pager {
        height: 0px;
      }
    }
  }
}

/* 会议详情 end */
