.visitor-title{
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  &:after {
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    background: #CCCCCC;
  }
}

.col-right{
  text-align: right;
}
.col-left{
  text-align: left;
}

.row-margin{
  margin: 15px 0;
}

.visitor-detail-img{
  width: 100px;
  height:100px;
}

.visitor-col{
  background: #ffffff;
  height:180px;
  span{
    line-height: 180px;
  }
}