#login-content{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f1f1f1;
    background: url('../../assets/imgs/login_bg.png') center no-repeat;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}