.transfer-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .transfer-button{
    .ant-btn-primary{
      margin:15px 30px;
      &:first-of-type{
        margin-top: 50px;
      }
    }
  }
}

.transfer-right{
  .ant-checkbox-group{
    .ant-checkbox-group-item{
      display: block;
      margin: 7.5px 0;
    }
  }
}

.transfer-left, .transfer-right{
  max-height: 555px;
  overflow: scroll;

}