#AddOrEditMap_container {
    height: 600px;
    width: 600px;
    position: relative;
    border: 1px solid #CCC;
}

#AddOrEditMap_map {
    height: 600px;
    width: 600px;
    object-fit: fill;
    display: block;
}

.mark {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../../../assets/imgs/camera.png);
    cursor: pointer;
}

#addMarkBox {
    position: absolute;
    width: 220px;
    height: 200px;
    background: rgb(255, 255, 255);
}

#addMarkBox .ant-form-item:nth-child(3) .ant-form-item-control {
    float: right;
}