.imgBoxCard {
    height: 240px;
    width: 240px;
    position: relative;
    border: 1px solid #CCC;
    padding: 20px;
}

.imgBox {
    height: 200px;
    width: 200px;
    object-fit: contain;
    padding-bottom: 5px;
    cursor: pointer;
    display: block;
}

.imgBoxName {
    width: 200px;
    text-align: center;
}

.upload_map_remove {
    font-size: 23px;
    color: #f5080a;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.imgBoxCard:hover .upload_map_remove {
    opacity: 1;
}