.app-container{
  width: 100%;
  height: 100%;
  .ant-menu{
    .ant-menu-item{
      padding: 0 5% ! important;
      width: 25%;
    }
  }

}
.app-header{
  width: 100%;
  height: 134px;
  background: #3C6DF0;
  p{
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 22px;
    margin-left:5.3%;
  }
  .app-search{
    text-align: center;
    display: inline-block;
    margin-left:5.3%;
    max-width: 300px;
    .ant-input{
      border-radius: 20px;
      border-color: #5C86F5 ! important;
      background: #5C86F5;
      color: #ffffff;
    }
    .ant-input-suffix{
      .ant-btn-primary{
        background-color: #5c86f5;
        border-color: #5c86f5;
        border-radius: 20px;
      }
    }
  }
}

.white-space-11{
  height:11px;
}
span[class^="white-space"]{
  display: block;
  background: #F4F5F7;
  width: 100%;
}
.white-space-2{
  height:2px;
}
.single-info{
  display: flex;
  align-items: center;
  background: #FFFFFF;
  width:100%;
  img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-right:5%;
    margin-left: 1%;
  }

  .app-content-name{
    width:50%;
    p:first-of-type{
      font-size: 18px;
      color: #444444;
    }
    p:last-of-type{
      font-size: 12px;
      color: #999999;
    }
  }

  .app-handle{
    .ant-btn{
      border-color: #FFFFFF ! important;
    }
  }
}

.app-modal{
  margin: 0px 60px;
  .app-modal-content{
    font-size: 16px;
    color: #444444;
    text-align: center;
  }
}

  .modal-checked-active{
    color: #3C6DF0;
  }
.app-center{
  height: 60vh;
}

.spin-center{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate( -50%, -50%);
}
.app-content{
  height:  calc(~"100vh - 205px");
  overflow-y:scroll;
}

.ant-layout-content-phone{
  margin:0 ! important;
  padding:0  ! important;
}