*{
  margin: 0;
  padding: 0;
}
.inline{
  display: inline-block;
}
.phone-container{
  background: #f4f5f7 ! important;
}
.students-record{
  display: flex;
  width:100%;
  height:71px;
  margin:10px;
  justify-content:  flex-start;
}

.students-left{
  height: 100%;
  line-height:71px;
  span:first-of-type{
    font-size: 20px;
    color: #444444;
  }
  span:last-of-type{
    font-size: 10px;
    color: #444444;
    padding-right: 5px;
  }
}

.students-right {
  display: flex;
  width: 80%;
  height: 100%;
  background: #ffffff;
  justify-content: flex-start;
  align-items: center;
  img{
    width: 43px;
    height:43px;
    border-radius: 50%;
    margin:0 10px;
  }
  div{
    padding-top: 10px;
    width:100%;
    p{
      font-size: 12px;
      color: #999999;
    }
  }
}

.student-info{
  width: 100%;
  span:first-of-type{
    font-size: 16px;
    color: #444444;
    font-weight: bold;

    //max-width: 100px;
    //display: inline-block;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }
  span:last-of-type{
    font-size: 12px;
    color: #999999;
    float: right;
    padding-right: 2.7%;
    &:after{
      content: " ";
      display: block;
      font-size: 0;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

.ant-layout-content{
  background: #f0f2f5 ! important;
}

.ant-layout-content-phone{
  margin:0 ! important;
  padding:0  ! important;
}